nav {
    background-color: white;
    height: 3em;
    text-align: right;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: block;
}

.nav-button {
    align-items: right;
    background-color: darkblue;
    width: 125px;
    color: white;
    border: none;
    border-radius: 3px;
    margin: auto;
    font-family: 'Roboto', sans-serif;

}

li {
    list-style: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: lightblue;

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

form {
    background-color: white;
    display: inline block;
    text-align: center;
    border-radius: 3px;
    border-style:inset;
    border: 2px;
}

.form1 {
    margin:auto;
    width:50%;
    border: none;
    padding: 0px;
}

.button {
    border-radius: 3px;
    background-color: darkblue;
    color:white;
    width: 166px;
    border: none;
    font-family: 'Roboto', sans-serif;

}

i {
    color: black;
    width: 75px;
    height: 75px;
    padding:0%;
}